.nav-container {
    display: flex;
    align-items: center;
    position: relative;
}

.userInterface{
  position: absolute;
  bottom: 2px;
 }

 .customize-menu {
    display: none;
    position: absolute;
    width: 13vw;
    top: 54%;
    height: 30vh;
    background-color: #222222;
    color: white;
    left: 0%;
    min-width: 270px;
    z-index: 50000;
    border-radius: 10px;
}

.conversation-container {
    align-items: start;
    justify-content: space-around;
    position: fixed;
    flex-direction: column;
    max-width: 300px;
    height: 100%;
    padding: 10px;
    border: 1px solid #302f2f;
    background-color: #222;
    color: white;
    box-shadow: 0 0 10px rgba(165, 164, 164, 0.1);
  }

  .menu-visible {
    height: 100vh;
    width: 38vw;
    max-width: 268px;
  }
  
  .menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

.conversation-group {
    margin-bottom: 20px;
}

.conversation-title {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 10px;
    border-bottom: 1px solid #302f2f;
    padding-bottom: 5px;
}

.conversation-list {
    font-size: 1em;
    text-align: start;
    list-style: none;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 0;
    overflow-y: auto;
    max-height: 50vh;
}

.conversation-message {
    width: 100%;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background .16s ease;
    cursor: pointer;
    display: flex;
}

.conversation-message:hover {
    background: #2f2f2f;
}

#upload {
    color: black;
}
.uploadProfile{
    color: black;
}
#predefined-userImages{
    color: black;
}

#upload-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
#uploadProfile label{
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
label:hover {
    background-color: #0056b3;
}

#predefined-backgrounds {
}

#logout {
    padding: 10px 15px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#logout:hover {
    background-color: #c82333;
}
.upload input[type="file"] {
    display: none;
}

 label {
    display: inline-block;
    padding: 6px 15px;
    background-color: #0f0f0f;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 10px;
}

 label:hover {
    background-color: #0056b3;
}

.upload .file-input-btn {
    margin-left: 10px;
    background-color: #0f0f0f;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload .file-input-btn:hover {
    background-color: #5a6268;
}

.upload .file-input-name {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.menu-container{
    display:none;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    justify-content: space-evenly;
}
.uploadProfile input[type="file"] {
    display: none;
}
button.file-input-btn {
    margin-left: 19px;
    background-color: #0f0f0f;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.file-input-btn:hover{
    background-color: #646464 ;
}
select#predefined-backgrounds {
  color: black;
}

div#my-user::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-image: url(../img/Player.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}

div#my-user {
    position: relative;
    width: 118%;
    max-width: 27vw !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 9px;
    transition: background .16s ease;
    padding: 15px 60px;
}

div#my-user:hover {
    background: #2f2f2f;
}


.show-menu {
    display: flex!important;
}

#user-menu {
    width: 51vw;
    display: none;
    max-width: 251px;
    height: 20vh;
    position: absolute;
    background: #222222;
    padding: 0px;
    left: -2%;
    border-radius: 20px;
    bottom: 48px;
    z-index: 111;
}

#user-menu ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: baseline;
    list-style-type: none;
    flex-wrap: wrap;
}

#user-menu li {
    width: 100%;
    cursor: pointer;
    height: 4vh;
    display: flex;
    border-bottom: 1px solid #302f2f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#user-menu li:hover{
   background-color:#333 ;
   border-radius: 5px;

}
#user-menu li a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1280px){
    .conversation-container{
        width: 53vw !important;
        max-width: 300px;
    }
    #user-menu{
        max-width: 240px;
        right: 0;
    }
    div#my-user{
        max-width: 48vw !important; 
    }
}
i#menu-icon {
    pointer-events: none;
}
